


.contain {
    border-radius : 5 px; 
    width: 1000px; 
    margin : 0px auto; 
    /* border : 1px solid grey;  */
    text-align : center;
  padding-bottom : 5px ;
  margin-top : 10px; 
  /* margin-bottom : 10px; */
  /* float : left ; */
  /* height : 50vh; */
  /* overflow-y: auto; */

}
.contain:hover{
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);

}
/* scroll */
.contain::-webkit-scrollbar {
  width: 1em;
}
/* .contain::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */

.contain::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid red;
border-radius: 20px;
}


/* trip */
#trip{
height: 400px ;
display: flex; 
/* overflow: scroll; */
overflow-x: auto;
align-items: center;
}
#trip img{


margin-right : 15px
}

/* navbar  */
.title{
    font-size: 50px;
    color: white; 
    margin: 0px; 
    text-align : center; 
    display : table-cell; 
    vertical-align: middle;

}
.first {
  text-align : center; 
}

#aboutme{
  height: 400px ;
  display: flex; 
  /* overflow: scroll; */
  overflow-x: auto;
  align-items: center;
}
 #aboutme img{
  margin-right : 15px
 }

#friends{
  height: 400px ; /* change the height to get the normal scrool */
  display: flex; /* remove to get normal scroll */
  /* overflow: scroll; */
  overflow-x: auto; 
  align-items: center; 

}

#friends img{
  margin-right : 15px
 }


body > div:nth-child(5) > h2{
  text-decoration: underline
}

/* nav + other */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
    padding: 0; 
	font-family: 'Work Sans', sans-serif;
  font-weight: 800;
    /* background-color: rgba(0,0,0,0.1);  */
  }

 

.container {
	width: 80%;
  margin: 0 auto;
}

header {
  background: black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  font-size: 50px;
  color: white; 
  margin: 0px; 
  text-align : center; 
  display : table-cell; 
  vertical-align: middle;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
    text-decoration: none;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: grey;
  text-decoration: none;

}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* footer */
#contact{
  background-color : black; 
  color : white; 
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  height : 30vh; 
  margin-top : 10px; 
  padding-top: 50px;
}

.left {
  /* float: left; */
  text-align: center;  
}

#contact > div > div:nth-child(2) > li:nth-child(2) > a{
  text-decoration: none; 
  color : white; 
}

#contact > div > div:nth-child(2) > li:nth-child(3) > a{
  text-decoration: none; 
  color : white; 
}



.foot{
  /* position:;   */
  padding-top: 130px
}

#contact > div > div.foot > a{
text-decoration: none
}

/* responsive */

@media (max-width: 960px) {
  .contain {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .contain {
    width: 500px;
  }
  nav {
    display : none; 
  }
}
@media (max-width: 540px) {
  .contain {
    width: 300px;
  }
  footer{
    display : none ; 
  }
  nav {
    display : none; 
  }
}


/* banner */
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(./images2/img004.jpg);   
    background-size: cover;     
    background-position: center;
    color : white ; 
    padding : 150px 0px; 
}

.banner h1{
    font-size: 50px; 
}

.banner h2{
    font-size: 30px; 
    font-weight: lighter;
    opacity: 0.8;
    margin-bottom: 40px
}
#contact > div > div > p{
  text-decoration: none
}

#contact > div > div > li:nth-child(2) > a{
  text-decoration: none; 
  color : white; 
}

#contact > div > div > li:nth-child(3) > a{
  text-decoration: none; 
  color : white; 

}

.picture_hover{
  border : 1px solid rgba(0,0,0,0.3)
}


/* scroll */



/* #fakeHeight {
  height: 6000px;
  width: 1px;
} */

#scrollPercentLabel {
  font-family: Impact;
  font-size: 20px;
  color: #2B2B2B;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
 
  top: 50%;
  left: 87%;
  position: fixed; 
  box-shadow: 8px 8px 5px rgba(20, 20, 20, 1);
  border-radius: 15px;
}


.btn-blue{
  background-color : #90A3DA; 
  padding : 15px 20px; 
  border-radius: 4px; 
  color : white ; 
  font-weight: bold; 
  font-family: 'Roboto', sans-serif;
  text-decoration: none; 
  list-style: none; 
  list-style-type: none;
}

.button{
  text-decoration: none; 
  list-style: none; 
  list-style-type: none;
  color : white; 
}